<!DOCTYPE html>
<html>
  <head>
    <title>Cont</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<script type="text/javascript">
  $(".alert").fadeOut(5000);
</script>
